
.page{
    min-width: 1240px;
}
.container{
    width: 1170px;
    margin:0 auto;
}
a{
    color: #FFFFFF;
}
.fl{
    float: left;
}
.fr{
    float: right;
 }

.nav{
    height: 80px;
    background-color:#000000;
    position: relative;
}
.nav_logo{
    margin-right: 135px;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 80px;
}
.nav_logo a{
    color: #FFFFFF;
}
.nav_nav ul li{
    float: left;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 16px;
    margin-right:39px ;
}
.nav_sign{
    line-height: 80px;
}
.nav_sign_btn{
    width: 90px;
    height: 35px;
    border-radius: 9px 9px;
    background-color:rgba(0, 0, 0, 0) ;
    border: 2px solid #ca3c3c;
    color: #ca3c3c;
    font-size: 16px;
    outline: none;
}

.header{
    height: 700px;
    background-color: rgba(102,102,102,0.5);
    position: relative;
}
.header video{
    z-index: -9999;
    margin: 0;
    position: absolute;
    opacity: 0.5;
    object-fit: cover;
    width: inherit;
}
.container_video{
    width: 100%;
    overflow: hidden;
}

.play_all{
    margin: 285px 0 auto 0;
}
.header_play img{
    width: 130px;
}
.header_nima{
    clear:right;
}
.header_text{
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 40px;
    line-height: 130px;
}
.red{
    height: 360px;
    background-color: #ca3c3c;
}
.red_l{
    font-size: 72px;
    color: #FFFFFF;
    border-bottom: 10px solid white;
    margin: 39px 0 0 0;
}
.red_r1{
    margin: 0 30px 0 0;
}
.red_r1_t{
    color: #FFFFFF;
    margin: 10px 0 0 0;
}
.red_r1_t1{
  font-size: 12px;
  padding: 0;
}
.red_r1_t2{
    margin-bottom: 15px;
    padding: 0;
}
.r1,.r2,.r3,.r4{
    float: right;
    margin: 50px 0 0 30px;
}
.icon{
    height: 150px;
    background-color: white;
}
.icon span{
    display:inline-block;
    /*span是块级元素，使用inline-block不换行，可改变宽高*/
    background-image: url("../images/icons.png");
    width: 40px;
    height: 33px;
}
.icon1{
    background-position:0 0;
    margin: 58px 170px 58px 35px;
}
.icon2{
    background-position: 40px 0;
    margin: 58px 170px 58px 0;
}
.icon3{
    background-position: 80px 0;
    margin: 58px 170px 58px 0;
}
.icon4{
    background-position: 120px 0;
    margin: 58px 170px 58px 0;
}
.icon5{
    background-position: 160px 0;
    margin: 58px 170px 58px 0;
}
.icon6{
    background-position: 200px 0;
    margin: 58px 0 58px 0;
}
.works{
    height: 1210px;
    background-color: #EBEBEB;
}
.works .container{
    position:relative;
    /*display: inline-block;*/
}
.works_l{
    font-size: 72px;
    color:#000000;
    width: 370px;
    border-bottom: 10px solid black;
    padding-top: 39px;
    margin: 0 0 0 0;
}
.works_btns{
    margin: 30px 0 0 0;
}
.works_btn{
    width: 90px;
    height: 35px;
    border-radius: 9px 9px;
    background-color:rgba(0, 0, 0, 0) ;
    border: 3px solid #ca3c3c;
    color: #ca3c3c;
    font-size: 16px;
    margin-right: 10px;
    transition: .5s;
}
.works_btn:hover{
    background-color: #ca3c3c;
    color: #FFFFFF;
}
.works_imgs_alt{
    margin: 60px 0 0 0;
}
.works_imgs_alt_more{
    margin:0 0 0 0;
}
.works_imgs_alt_more p{
    background-color: white;
    width: 370px;
    height: 100px;
    float: left;
    margin: 270px 30px 30px 0;
    text-align: center;
}
.works_imgs_alt p{
    background-color: white;
    width: 370px;
    height: 100px;
    float: left;
    margin: 270px 30px 30px 0;
    padding: 0;
    text-align: center;
}
.works_imgs_alt_n{
    font-size: 18px;
    color: #ca3c3c;
    line-height: 60px;
}
.works_imgs_alt_t{
    font-size: 14px;
    color: gray;
}
.works_imgs_more{
    margin: 0 0 0 0;
    position: absolute;
}

.works_imgs{
    margin: 60px 0 0 0;
    position: absolute;
}

.works_more{
    display: none;
    padding-top: 0;
    margin-top: 0;
}
.works_more_all{
    background-color: #ebebeb;
    height: 900px;
    padding-top: 0;
}

.works_imgs_more{
    position: absolute;
}
.works_more .container{
    position: relative;
}


.works_imgs p ,.works_imgs_more p{
    background-color: gray;
    width: 370px;
    height: 370px;
    float: left;
    margin: 0 30px 30px 0;
    transition:height 0.7s;
    -moz-transition:height 0.7s; /* Firefox 4 */
    -webkit-transition:height 0.7s; /* Safari and Chrome */
    -o-transition:height 0.7s; /* Opera */
}
.clear{
    clear: left;
}
.works_imgs p:hover{
    height: 270px;
    width: 370px;
}
.works_imgs_more p:hover{
    height: 270px;
    width: 370px;
}

.person{
    height: 350px;
    background-color: #666666;
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
}
.person_text{
    display: inline-block;
    width: 770px;
    margin: 54px auto 17px auto;
}
.person_img{
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 35px 35px;
    margin: 0 auto;
}
.team{
    height: 915px;
}
.team_l{
    font-size: 72px;
    color:#000000;
    width: 370px;
    border-bottom: 10px solid black;
    margin: 0 0 0 0;
    padding-top: 39px;
}
.team_o{
    margin: 80px 0 0 0;
    display: inline-block;
    width: 370px;
}
.team_o1{
background-color: gray;
width: 170px;
height: 170px;
border-radius: 85px;
/*display:inline;*/
}
.soc{
    position: relative;
}
.soc s{
    background-image: url("../images/tfi.png");
    display:inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
}
.soc1{
    background-position: 0 0;
    margin: 60px 0 0 140px;
}
.soc2{
    background-position: 110px 0;
    margin: 60px 0 0 200px;
}
.soc3{
    background-position: 50px 0;
    margin: 60px 0 0 260px;
}
.team_o_t{
    margin: 45px 0 0 100px;
}
.team_o_t_n{
    color: #ca3c3c;
    font-size: 18px;
}
.team_o_t_j{
    color: #666666;
    font-size: 14px;
    margin-top: 10px;
}
.team_o_t_alt{
    font-size: 14px;
    margin-top: 20px;
}
/*定义多个类要用,逗号，切记*/
.team_t,.team_th{
    margin: 80px 0 0 30px;
    display: inline-block;
    width: 370px;
}
.more{
    clear: both;
    /*float: left;*/
    margin: 0 0 0 0;
}
.number{
    height: 350px;
    background-color: #666666;
    /*margin: 0 auto;*/
}
.numberAll{
    width: 1003px;
    margin: 0 auto 0 auto;
    /*float: left;*/
    padding-top: 85px;
}
.number1 {
    margin: 0 0 0 0;
    float: left;
    /*设为浮动即可解决该盒子margin-top一直无法浮于父级盒子之上！！！！*/
    text-align: center;
}
.nub2009{
    font-size: 60px;
}
.nub2009_text{
    font-size: 18px;
}
.number p{
    color: #FFFFFF;
}
.number2, .number3,.number4{
    margin: 0 0 0 125px;
    float: left;
    text-align: center;
}
.skills{
    height: 840px;
}
.skills .container{
    position: relative;
}

.skills_l{
    font-size: 72px;
    color:#000000;
    width: 370px;
    border-bottom: 10px solid black;
    margin: 0 0 0 0;
    padding-top: 39px;
}
.sFour{
    margin: 80px 0 0 0;
}
.s1{
    /*margin: 80px 0 0 0;*/
}
.s2, .s3,.s4{
    margin: 0 0 0 30px;
}
.skills_r{
    width: 370px;
    margin: 80px 0 0 0;
    background-color: white;
    border-radius:10px;
}
.skills_t{
    position: absolute;
    left: 100px;
    top:545px ;
}
.skills_t1{
    font-size: 18px;
    color: #ca3c3c;
}
.skills_t2{
    font-size: 14px;
    width: 670px;
}
.huojian, .lock, .jiantou, .book , .tel{
    width: 370px;
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 9px;
    margin-bottom: 10px;
}
.book{
    margin-bottom: 0!important;

}
.huojian{
    /*margin-top: 80px;*/
}
.skills1{
    margin: 15px;
}
.skills1_1{
    color: #ca3c3c;
    font-size: 14px;
    line-height: 50px;
}

.skills1_2{
    width: 350px;
    margin: 20px 0 25px 10px;
    display: none;
}

.skills_r input{
    float: right;
    margin: 21px;
}
.skills2{
    color: #ca3c3c;
    font-size: 14px;
    line-height: 50px;
}
.contact{
    background-color: #EBEBEB;
    height: 710px;
}
.contact_l{
    font-size: 72px;
    color:#000000;
    width: 370px;
    border-bottom: 10px solid black;
    margin: 39px 0 0 0;
}
.contact_alt{
    clear: left;
    color: #898989;
    margin: 35px 0 0 0;
}
.contact_tw{
    background-image: url("../images/tfi.png");
    display:inline-block;
    /*position: absolute;*/
    width: 50px;
    height: 50px;
    background-position: 0 0;
    clear: left;
    margin: 30px 0 0 0;
}
.contact_fa{
    background-image: url("../images/tfi.png");
    display:inline-block;
    /*position: absolute;*/
    width: 50px;
    height: 50px;
    background-position: 50px 0;
    margin: 30px 0 0 30px;
}
.contact_in{
    background-image: url("../images/tfi.png");
    display:inline-block;
    /*position: absolute;*/
    width: 50px;
    height: 50px;
    background-position: 110px 0;
    margin: 30px 0 0 30px;
}
.contact_email{
    width: 366px;
    height: 46px;
    border: 2px solid black;
    background-color:rgba(0, 0, 0, 0) ;
    clear: left;
    margin: 50px 30px 0 0;
}
.contact_name{
    width: 366px;
    height: 46px;
    border: 2px solid black;
    background-color:rgba(0, 0, 0, 0) ;
    margin: 50px 0 0 0;
}
.contact_msg{
    width: 766px;
    height: 76px;
    border: 2px solid black;
    background-color:rgba(0, 0, 0, 0) ;
    clear: left;
    margin: 30px 0 0 0;
}
.contact_sub{
    width: 370px;
    height: 80px;
    background-color: #FFFFFF;
    color: #ca3c3c;
    margin: 30px 0 0 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 5px 5px 5px #808080;
}
.footer{
    height: 175px;
    background-color: #252525;
}
.footer P{
    text-align: center;
}
.footer_logo{
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 45px;
    /*margin-top: 45px;*/
}
.footer_copy{
    color: #555555;
    font-size: 14px;
    line-height: 25px;
}
.footer img{
    margin-top: 15px;
}
.margin-right-none{
    margin-right: 0!important;
}
input{
    outline: none;
}



